[%
  page_title         = 'CheckV Results';
  include_datatables = 1;

  PROCESS 'views/inc/js.tt';
  PROCESS 'views/inc/macros.tt';
  WRAPPER 'views/inc/page_wrapper.tt';

    # table layout bits
    complete_genomesTableCols = [
    'contig_id',
    'contig_length',
    'kmer_freq',
    'prediction_type',
    'confidence_level',
    'confidence_reason',
    'repeat_length',
    'repeat_count',
    'repeat_n_freq',
    'repeat_mode_base_freq',
    'repeat_seq',
    ];

    completenessTableCols = [
    'contig_id,'
    'contig_length,'
    'proviral_length,'
    'aai_expected_length,'
    'aai_completeness,'
    'aai_confidence,'
    'aai_error,'
    'aai_num_hits,'
    'aai_top_hit,'
    'aai_id,'
    'aai_af,'
    'hmm_completeness_lower,'
    'hmm_completeness_upper,'
    'hmm_num_hits,'
    'kmer_freq,'
    ];

    contaminationTableCols  = [
    'contig_id,'
    'contig_length,'
    'total_genes,'
    'viral_genes,'
    'host_genes,'
    'provirus,'
    'proviral_length,'
    'host_length,'
    'region_types,'
    'region_lengths,'
    'region_coords_bp,'
    'region_coords_genes,'
    'region_viral_genes,'
    'region_host_genes,'
    ];

    quality_summaryTableCols = [
    'contig_id,'
    'contig_length,'
    'provirus,'
    'proviral_length,'
    'gene_count,'
    'viral_genes,'
    'host_genes,'
    'checkv_quality,'
    'miuvig_quality,'
    'completeness,'
    'completeness_method,'
    'contamination,'
    'kmer_freq,'
    'warnings,'
    ];

    simpleTableCols = [
    "User Genome",
    "Classification",
    "FastANI Reference",
    "FastANI Reference Radius",
    "FastANI Taxonomy",
    "FastANI ANI",
    "FastANI Alignment Fraction",
    "Closest Placement Reference",
    "Closest Placement Taxonomy",
    "Closest Placement ANI",
    "Closest Placement Alignment Fraction",
    "Classification Method",
    "Note",
    "Other Related References",
    "AA Percent",
    "RED Value",
    "Warnings",
    ];

    

    page_content = [
        {   name    => "complete_genomes",
            name_lc => "complete_genomes",
            content => 'table',
            file    => "complete_genomes.tsv.json",
            table_config  => {
              thead => {
                enum => complete_genomesTableCols,
              },
            },
        },
        {   name    => "completeness",
            name_lc => "completeness",
            content => 'table',
            file    => "completeness.tsv.json",
            table_config  => {
              thead => {
                enum => completenessTableCols,
              },
            },
        },
        {   name    => "contamination",
            name_lc => "contamination",
            content => 'table',
            file    => "contamination.tsv.json",
            table_config  => {
              thead => {
                enum => contaminationTableCols,
              },
            },
        },
        {   name    => "quality_summary",
            name_lc => "quality_summary",
            content => 'table',
            file    => "quality_summary.tsv.json",
            table_config  => {
              thead => {
                enum => quality_summaryTableCols,
              },
            },
        },
    ];

    # set up the table config
    FOR item IN page_content;
      item.table_config.for_datatables_js = 1;
      item.table_config.id = item.name_lc _ '-table';
      item.table_config.caption = 'CheckV results: ' _ item.name;
    END;

    tabbed_layout;

    WRAPPER js_wrapper;
%]
    function semiColonSpacer( data, type ) {
      return type === 'display'
        ? data == null
          ? data
          : data.replace(/;/g, ';<br>')
        : data;
    }

    function commaSpacer( data, type ) {
      return type === 'display'
        ? data == null
          ? data
          : data.replace(/,/g, ', ')
        : data;
    }

    function dotDotDot( data, type ) {
      return type === 'display'
        ? data === null
          ? data
          : data.length > 40
            ? '<span title="' + data + '">' + data.substr(0, 38) + '...</span>'
            : data
        : data;
    }

    const dataFiles = {
[%    FOR item IN page_content;
%]    "[% item.name_lc %]": "/kb/module/work/tmp/json_files_dir/[% item.file %]",
[%    END;
%]    },

    complete_genomesTableCols = [
    {'data': 'contig_id', 'title': 'contig_id'} ,
    {'data': 'contig_length', 'title': 'contig_length'} ,
    {'data': 'kmer_freq', 'title': 'kmer_freq'} ,
    {'data': 'prediction_type', 'title': 'prediction_type'} ,
    {'data': 'confidence_level', 'title': 'confidence_level'} ,
    {'data': 'confidence_reason', 'title': 'confidence_reason'} ,
    {'data': 'repeat_length', 'title': 'repeat_length'} ,
    {'data': 'repeat_count', 'title': 'repeat_count'} ,
    {'data': 'repeat_n_freq', 'title': 'repeat_n_freq'} ,
    {'data': 'repeat_mode_base_freq', 'title': 'repeat_mode_base_freq'} ,
    {'data': 'repeat_seq', 'title': 'repeat_seq'} ,
    ],
    completenessTableCols = [
    {'data': 'contig_id', 'title': 'contig_id'},
    {'data': 'contig_length', 'title': 'contig_length'},
    {'data': 'proviral_length', 'title': 'proviral_length'},
    {'data': 'aai_expected_length', 'title': 'aai_expected_length'},
    {'data': 'aai_completeness', 'title': 'aai_completeness'},
    {'data': 'aai_confidence', 'title': 'aai_confidence'},
    {'data': 'aai_error', 'title': 'aai_error'},
    {'data': 'aai_num_hits', 'title': 'aai_num_hits'},
    {'data': 'aai_top_hit', 'title': 'aai_top_hit'},
    {'data': 'aai_id', 'title': 'aai_id'},
    {'data': 'aai_af', 'title': 'aai_af'},
    {'data': 'hmm_completeness_lower', 'title': 'hmm_completeness_lower'},
    {'data': 'hmm_completeness_upper', 'title': 'hmm_completeness_upper'},
    {'data': 'hmm_num_hits', 'title': 'hmm_num_hits'},
    {'data': 'kmer_freq', 'title': 'kmer_freq'},
    ],
    contaminationTableCols  = [
    {'data': 'contig_id', 'title': 'contig_id'} ,
    {'data': 'contig_length', 'title': 'contig_length'} ,
    {'data': 'total_genes', 'title': 'total_genes'} ,
    {'data': 'viral_genes', 'title': 'viral_genes'} ,
    {'data': 'host_genes', 'title': 'host_genes'} ,
    {'data': 'provirus', 'title': 'provirus'} ,
    {'data': 'proviral_length', 'title': 'proviral_length'} ,
    {'data': 'host_length', 'title': 'host_length'} ,
    {'data': 'region_types', 'title': 'region_types'} ,
    {'data': 'region_lengths', 'title': 'region_lengths'} ,
    {'data': 'region_coords_bp', 'title': 'region_coords_bp'} ,
    {'data': 'region_coords_genes', 'title': 'region_coords_genes'} ,
    {'data': 'region_viral_genes', 'title': 'region_viral_genes'} ,
    {'data': 'region_host_genes', 'title': 'region_host_genes'} ,
    ],
    quality_summaryTableCols = [
    {'data': 'contig_id', 'title': 'contig_id'} ,
    {'data': 'contig_length', 'title': 'contig_length'} ,
    {'data': 'provirus', 'title': 'provirus'} ,
    {'data': 'proviral_length', 'title': 'proviral_length'} ,
    {'data': 'gene_count', 'title': 'gene_count'} ,
    {'data': 'viral_genes', 'title': 'viral_genes'} ,
    {'data': 'host_genes', 'title': 'host_genes'} ,
    {'data': 'checkv_quality', 'title': 'checkv_quality'} ,
    {'data': 'miuvig_quality', 'title': 'miuvig_quality'} ,
    {'data': 'completeness', 'title': 'completeness'} ,
    {'data': 'completeness_method', 'title': 'completeness_method'} ,
    {'data': 'contamination', 'title': 'contamination'} ,
    {'data': 'kmer_freq', 'title': 'kmer_freq'} ,
    {'data': 'warnings', 'title': 'warnings'} ,
    ]

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      const t = e.target.id.substr(0, e.target.id.length-4)

      if ( $('#' + t + '-table') && !$.fn.DataTable.isDataTable('#' + t + '-table') ) {
        let dataFile = dataFiles[t],
        cols = complete_genomesTableCols;
        if ( t === 'completeness') {
          cols = completenessTableCols;
        } else if ( t === 'contamination' ){
          cols = contaminationTableCols;
        } else if ( t === 'quality_summary'){
          cols = quality_summaryTableCols;
        }
[%      PROCESS default_table_conf %]
        tableConfig.ajax = dataFile
        tableConfig.buttons.push('colvis')
        $('#' + t + '-table').DataTable(tableConfig);
      }
    })
[%
    END; # end js_wrapper
  END; # end wrapper
%]
